.SearchFilter {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    max-width: 750px;
    min-height: 50px;
    padding: 0px 15px;
    margin-top: 15px;
    background-color: #FFFFFF;
}

.Option {
    cursor: pointer;
    text-align: center;
}

.Option.Selected {
    font-weight: 700;
    color: #C50101;
    pointer-events: initial;
}

@media only screen  and (max-width : 500px) {
    .SearchFilter{
        flex-direction: column;
        padding: 15px 15px;
    }

    .Option:not(:first-child) {
        margin-top:15px;
    }
}